:root{
    --text: #161616;
--background: #ffffff;
--primary: #d9d9d9;
--secondary: #dddddd;
--accent: #6d6d6d;
}
body{
    margin: 0;
    background-color: #2b2b2b;
}
#header{
    display: flex;
width: 100vw;
height: 15vw;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: rgba(3, 21, 32, 1);
text-align: center;

/* Ysabeau Infant */
font-family: Macondo Swash Caps;
font-size: 6vw;
font-style: normal;
font-weight: 400;
line-height: normal;
content:"Portofolio";
border: 1vmin solid var(--accent, #6d6d6d);
background: var(--secondary, #dddddd);
}
html, body{
    margin:0;
    padding:0;
    border:0;
}
#profile{
    width: 40vw;
height: 40vw;
flex-shrink: 0;
border-radius: 100vw;
background-image: url("../img/00181.png");
background-repeat: no-repeat;
margin:auto;
margin-top: 8vw;
background-size:cover;
}
#nama{
    display: flex;
width: 65vw;
height: 20vw;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #000;
text-align: center;
/* aaaa */
font-family: Mali;
font-size: 3vw;
font-style: small;
font-weight: 400;
line-height: normal;
border-radius: 5vw;
border-top: 1vmin solid #031520;
border-right: 1px solid #031520;
border-bottom: 1vmin solid #031520;
border-left: 1px solid #031520;
background: var(--primary, #D9D9D9);
margin:auto; 
margin-top: 8vw;
}
#liivo{
    width: 40vw;
height: 40vw;
flex-shrink: 0;
background-image: url("../img/IMG_20230730_174055\(1\).jpg");
background-repeat: no-repeat;
margin:auto;
margin-top: 8vw;
background-size:cover;
border-radius: 100vw;
margin-bottom: 8vw;
}
#instagram{
width: 36vw;
height: 1vw;
padding-bottom: 7vw;
padding-top: 3vw;
flex-direction: column;
justify-content: center;
flex-shrink: 0;color: #000;
margin: auto;
font-family: Mali;
font-size: 4vw;
font-style: small;
font-weight: 400;
line-height: normal;
border-radius: 5vmin;
border-top: 1vmin solid #031520;
border-right: 2px solid #031520;
border-bottom: 1vmin solid #031520;
border-left: 2px solid #031520;
display: inline block;
background: var(--primary, #D9D9D9);

}
#instagram svg{
width: 10vw;
height: 5vw;
display: flex;
float: left;
display: inline-block;
text-align: center;
flex-shrink: 0;
margin: auto;
padding-left: vw;
}
#join{
    display: inline-block;
    margin:auto;
    padding-left: 1vw;
}
#footer{
    display: flex;
width: 100vw;
height: 15vw;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #031520;
text-align: center;

/* Ysabeau Infant */
font-family: Macondo Swash Caps;
font-size: 6vw;
font-style: small;
font-weight: 400;
line-height: normal;
border: 1vmin solid var(--accent, #6d6d6d)  ;
background: var(--secondary, #dddddd);
margin-top: 8vw;
}

/*/ komputer/*/

@media only screen and (min-width: 1280px) {
    body{
        margin: 0;
        background-color: #2b2b2b;
    }
    #header{
    height: 9vmin;
    font-size: 3vw;
    font-style: small;
    }
    #profile{
    width: 15vw;
    height: 15vw;
    flex-shrink: 0;
    margin: auto;
    flex-direction: column;
    border-radius: 100vw;
    background-image: url("../img/00181.png");
    background-repeat: no-repeat;
    margin-top: 5vw;
    margin-left: 5vw; 
    background-size:cover;
    }
    #nama{
    display: flex;
    width: 55vw;
    height: 28vmin;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    /* aaaa */
    font-family: Mali;
    font-size: 4vmin;
    font-style: small;
    font-weight: 400;
    line-height: normal;
    border-radius: 5vw;
    border-top: 1vmin solid #031520;
    border-right: 2px solid #031520;
    border-bottom: 1vmin solid #031520;
    border-left: 2px solid #031520;
    background: var(--primary, #D9D9D9);
    margin-left: 6vw; 
    margin-top: 5vw;
    }
    #liivo{
    width: 15vw;
    height: 15vw;
    flex-shrink: 0;
    background-image: url("../img/IMG_20230730_174055\(1\).jpg");
    background-repeat: no-repeat;
    margin:0%;
    margin-top: 8vw;
    background-size:cover;
    border-radius: 100vw;
    margin-bottom: 5vw;
    flex-direction: column;
    }
    #instagram{
    width: 18vw;
    height: 1vmin;
    padding-bottom: 3vw;
    padding-top: 2vmin;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;color: #000;
    font-family: Mali;
    font-size: 4vmin;
    font-style: small;
    font-weight: 400;
    line-height: normal;
    border-radius: 4vw;
    border-top: 1vmin solid #031520;
    border-right: 2px solid #031520;
    border-bottom: 1vmin solid #031520;
    border-left: 2px solid #031520;
    display: inline block;
    background: var(--primary, #D9D9D9);
    
    }
    #instagram svg{
    width: 5vw;
    height: 5vmin;
    display: flex;
    float: left;
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
    margin: auto;
    padding-left: 1vmin;
    }
    #join{
        display: inline-block;
        margin:auto;
        padding-left: 1vw;
    }
    #footer{
        display: flex;
    width: 100vw;
    height: 15vw;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #031520;
    text-align: center;
    
    /* Ysabeau Infant */
    font-family: Macondo Swash Caps;
    font-size: 6vw;
    font-style: small;
    font-weight: 400;
    line-height: normal;
    border: 1vmin solid var(--accent, #6d6d6d)  ;
    background: var(--secondary, #dddddd);
    margin-top: 8vw;
    }
    #proliiv{
        display: flex;
        width: 100vw;
    }
    #liivjo{
        display: flex;
        width: 100vw;
    }

  }

